<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">TEAM MODE</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">

    </ul>
    <span class="navbar-text">

            <a [routerLink]="['/teamMode/newgame']" class="btn btn-sm align-left btn-outline-warning" role="button" aria-pressed="undefined" >New Game</a>

            <a [routerLink]="['/teamMode/playagain']" class="btn btn-sm align-right btn-outline-success" role="button" aria-pressed="undefined">Play Again</a>

    </span>
  </div>
</nav>

<p>
These are WillowTree Emplyees aka your teammates.  Choose the picture that matches the name on top!
</p>
