
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" >PICTURE MODE</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">

    </ul>
    <span class="navbar-text">
        <form class="form-inline">

                <a [routerLink]="['/picMode/newgame']" class="btn btn-sm align-left btn-outline-warning" role="button" >New Game</a>
                 <a [routerLink]="['/picMode/playagain']" class="btn btn-sm align-left btn-outline-success" role="button" >Play Again</a>

                <!-- <a [routerLink]="['/picMode/playagain']"  >
                <button  class="btn btn-sm align-right btn-outline-success">Play Again</button></a> -->
                <!-- <a href ="/picMode/playagain" class="btn btn-sm align-right btn-outline-success" role="button" >Play Again 2</a> -->
      </form>
    </span>
  </div>
</nav>
<p>
Choose the picture that matches the name displayed.
</p>
