<app-teammode-nav></app-teammode-nav>


        <div class="form-group">
                <div class="card text-center"  >

                        <div class="card-header"> <h3> {{ myname}}</h3>
                            <div *ngIf="matchstatus==true"  class="alert alert-success" role="alert">
                                  <strong>Well done!</strong> You successfully made a match!!</div>
                        </div>

                        <div class="card-group" display="flex">
                                         <div class="card"  *ngFor="let p of people ">
                                                <form (ngSubmit)="onSubmit(f)"  #f="ngForm" novalidate >
                                                         <img class="card-img-top" alt="Headshot" height="200px" width="200px" [src]="p.headshot.url">
                                                         <div class="form-group"><input type="hidden" class="form-control" [ngModel]= "nameid" name="id"></div>
                                                         <div ngModelGroup = "headshot"><input type="hidden" class="form-control" [(ngModel)]= "p.headshot.id" name="id"></div>
                                                         <input type="hidden" class="form-control" [(ngModel)]="p.was_matched" name="was_matched">
                                                         <div *ngIf="matchstatus==false"><button   type="submit" name="submit" value="Submit" class="btn btn-success">Click Me</button></div>
                                                </form>
                                                <div   *ngIf="p.headshot.id==chosen_id && p.headshot.id!=res_id"  class="alert alert-danger" role="alert">  <strong>Oh snap!</strong> Try Again.</div>
                                                <div  *ngIf="matchstatus==true && p.headshot.id==chosen_id" class="alert alert-success" role="alert">  <strong>{{p.firstName}} {{ p.lastName}}</strong><br> That's Me!!.</div>
                                        </div>
                        </div>

                        <div class="card-footer text-muted">Click on the Picture that Matches your co-worker's Name Above </div>
                </div>
        </div>
